#imCel1_00 {position: absolute; top: 0px; left: 10px; height: 404px; width: 714px; }
#imObj1_00 img {border: none; height: 404px; width: 714px; vertical-align: bottom; }
#imObj1_00 {padding: 0px; }
#imCel1_00_Cont {text-align: center; height: 404px; overflow: hidden; }
#imPage {position: relative; height: 414px; }

