#imCel1_00 {position: absolute; top: 0px; left: 10px; height: 220px; width: 271px; }
#imObj1_00 img {border: none; height: 220px; width: 265px; vertical-align: bottom; }
#imObj1_00 {padding: 0px; }
#imCel1_00_Cont {text-align: center; height: 220px; overflow: hidden; }
#imCel0_00 {position: absolute; top: 0px; left: 291px; height: 220px; width: 271px; background-image: url('../images/imcelbgp006_0_00.jpg'); background-repeat: no-repeat; }
#imObj0_00 .ff0 {font-family: Times New Roman; }
#imObj0_00 .ff1 {font-family: Tahoma; }
#imObj0_00 .ff2 {font-family: Verdana; }
#imObj0_00 .ff3 {font-family: Courier New; }
#imObj0_00 .ff4 {font-family: Arial; }
#imObj0_00 .fc1 {color: #FFFFFF; }
#imObj0_00 .fc2 {color: #000000; }
#imObj0_00 .fc3 {color: #0000FF; }
#imObj0_00 .fc4 {color: #800080; }
#imObj0_00 .fc5 {color: #FF0000; }
#imObj0_00 .fs12 {font-size: 16px ; vertical-align: baseline; line-height: 19px ; }
#imObj0_00 .fs9 {font-size: 12px ; vertical-align: baseline; line-height: 15px ; }
#imObj0_00 .fs10 {font-size: 13px ; vertical-align: baseline; line-height: 16px ; }
#imObj0_00 {padding: 0px; }
#imCel0_00_Cont {text-align: center; height: 220px; overflow: hidden; }
#imPage {position: relative; height: 360px; }

